/********* Hoja de estilo de la receta de cocina ********/

@font-face {
    font-family: 'texto';
    src: url(../fonts/Dongle-Light.ttf);
}

body {background-image: url("../images/mantel.jpg");
      font-family: 'texto';font-size: 2em;}

#container {width: 80%;
            background-color: rgba(249, 192, 192, 0.719);
            margin: auto;
            padding: 25px;}

#container h1 {text-align: center;}

#container h2{background-color: #D36E6F;
              padding-left: 10px;}

#container dl dt{font-weight: bold;
            }

#container iframe{display: block;
                  margin:auto;}